<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getpillion"
    android:versionCode="16"
    android:versionName="2.2"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name= "com.getpillion.permission.C2D_MESSAGE" />
    <permission android:name="com.getpillion.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <!--     <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application

        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp"
        tools:replace="android:icon">

        <receiver android:name=".SmsBroadcastReceiver" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.getpillion" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />

        <meta-data android:name="DATABASE" android:value="main.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.getpillion" />

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_icon"
            android:label="Pillion"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



     <!--   <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.getpillion.Like"
            android:label="Like AppCovery" >
        </activity> -->
        <activity
            android:name=".AllRidesActivity"
            android:label="Search Rides"
            android:logo="@drawable/list" >
        </activity>

      <!--  <receiver android:name="com.getpillion.BootAlarm" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.getpillion.TimeAlarm" />
-->
        <activity
            android:name=".NewRouteActivityOnStart"
            android:label="Step 2/2: Location &amp; Timing"
            android:logo="@drawable/ic_launcher" >
        </activity>
        <activity
            android:name="com.getpillion.NewRouteActivitySelectMode"
            android:label="Step 1/2: Home &lt;-&gt; Office route"
            android:logo="@drawable/ic_launcher" >

        </activity>
        <activity
            android:name=".RideInfoActivity"
            android:label="Ride Details"
            android:logo="@drawable/ic_launcher"
            android:parentActivityName=".AllRidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getpillion.AllRidesActivity" />
        </activity>
        <activity
            android:name="com.getpillion.RequestRideActivity"
            android:label="Request Ride"
            android:logo="@drawable/ic_launcher"
            android:parentActivityName=".RideInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getpillion.RideInfoActivity" />
        </activity>
        <activity
            android:name="com.getpillion.MyProfileActivity"
            android:label="Your Profile"
            android:logo="@drawable/list">
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="Traveller Profile"
            android:logo="@drawable/list"/>
        <activity
            android:name="com.getpillion.MyRoutesActivity"
            android:label="Offer/Seek Ride"
            android:logo="@drawable/list">
        </activity>
        <activity
            android:name="com.getpillion.MyRouteInfoActivity"
            android:label="Route Detail"
            android:logo="@drawable/ic_launcher"
            android:parentActivityName=".MyRoutesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getpillion.MyRoutesActivity" />
        </activity>
        <activity
            android:name="com.getpillion.ScheduleRideActivity"
            android:label="Schedule Ride"
            android:logo="@drawable/list">
        </activity>
        <activity
            android:name="com.getpillion.MyVehiclesActivity"
            android:label="My Vehicles"
            android:logo="@drawable/list">
        </activity>
        <activity
            android:name="com.getpillion.VehicleInfoActivity"
            android:label="Vehicle Detail"
            android:logo="@drawable/ic_launcher"
            android:parentActivityName=".MyVehiclesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getpillion.MyVehiclesActivity" />
        </activity>
        <activity
            android:name="com.getpillion.MyRidesActivity"
            android:label="My Rides"
            android:logo="@drawable/list">
        </activity>

        <provider
            android:name=".sync.StubContentProvider"
            android:authorities="com.getpillion.provider"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name=".sync.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.GlobalSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>



    </application>

</manifest>