<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getpillion"
    android:versionCode="16"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
-->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.getpillion.MainActivity"
            android:icon="@drawable/ic_icon"
            android:label="Pillion"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
             >
        </activity>
        <activity
            android:name="com.getpillion.Like"
            android:label="Like AppCovery"
            >
        </activity>
        <activity
            android:name="com.getpillion.AllRoutesActivity"
            android:label="@string/title_activity_home"
            android:logo="@drawable/list"
           >
        </activity>

        <receiver android:name="com.getpillion.BootAlarm" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.getpillion.TimeAlarm" />

        <activity
            android:name="com.getpillion.NewRouteActivity"
            android:label="@string/title_activity_invite_friend"
            android:logo="@drawable/list"
             >
        </activity>
        <activity
            android:name="com.getpillion.RouteInfoActivity"
            android:label="@string/title_activity_invite_friend"
            android:logo="@drawable/list"
            >
        </activity>
        <activity
            android:name="com.getpillion.SettingActivity"
            android:label="Setting"
            android:logo="@drawable/back"
             >
        </activity>


    </application>

</manifest>